
@{
    ViewBag.Title = "AllocateMoneySuccessView";
}

<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/Site.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <style>
        body {
            text-align: center;
            align-content: center;
            color: white;
        }
    </style>
</head>
<body>
    <h1>Successful Allocation</h1>
    <br />
    <br />
    <br />
    <p>You have successfully allocated Money to a disaster</p>
    <br />
    <br />
    <br />
    <div>
        @Html.ActionLink("Back to home", "Index")
    </div>
</body>
