@{
    ViewBag.Title = "About Us";
    
}

<main aria-labelledby="title">
    <div class="jumbotron" style="background-image: url('../css/image/pic.jpg')">
        <h2 id="title">@ViewBag.Title.</h2>
        


        <p style="color:white">This Disaster Alleviation Foudation is an Non-profit organisation that provides users with practical disaster aids, various donations.</p><br />

        <h3 style="color:white">Mission</h3>
        <p style="color:white">To supply the affected provincial and neigbouring areas with goods and monetary doantions </p>

        <h2 style="color:white">Vision</h2>
        <ul style="color:white">To supply monetary and goods donation globally</ul>
        <ul style="color:white">Provide shelter to affected patrons</ul>
        <img src="~/css/image/shelter.jpg" width="650", height="350">


        <h3 style="color:white">Donations</h3>
        <p style="color:white">
            The donations received by the organisation are from various organisations, companies and government institutions
            The categories of the donations recieved range from food where perishable or non-perishable, clothes or monetary donations
            The donator has the liberty to remain anonymous when they are donating goods and monetary donations to the Foundation
        </p>
        <img src="~/css/image/goods.jpg" width="550", height="250">
        <img src="~/css/image/Patrons.jpg" width="550", height="250">

        <h3 style="color:white">Disaster</h3>
        <p style="color:white">
            The goods received from the donators such as thye clothes, perishable and non-perishable foods are used to
            supply the people who have been affected by thenatural disaster that occurred in the surrounding or provincial area
            The monetary donations transferred into the organisation purchases the goods
        </p>

        <h2 style="color:white">Core Values</h2>
        <ul style="color:white">Transparency</ul>
        <ul style="color:white">Honesty</ul>
        <ul style="color:white">Reliability</ul>
        <ul style="color:white">Accuracy</ul>


        <h2 style="color:white">Our Team</h2>
        <h4 style="color:white">CEO</h4>
        <p style="color:white">Lisakhanya Manzezulu</p>
        <img src="~/css/image/ceo.jpg" width="250", height="250">

        <h4 style="color:white">Software Developer</h4>
        <p style="color:white">Mbalenhle Mazibuko</p>
        <img src="~/css/image/Mbali.jpeg" width="250", height="230"><br/><br />

        <h3 style="color:white"><b>We Thank You! for working with the Disaster Alleviation Foundation Team, your support and doantions are truly appreciated :)</b></h3>
    </div>
</main>

